<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="BinaryHttpClientLoginServiceEndpoint">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="BinaryHttpsClientLoginServiceEndpoint">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
                <binding name="BinaryHttpAddOnServiceEndpoint">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="BinaryHttpsAddOnServiceEndpoint">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
            </customBinding>
            <wsHttpBinding>
              <binding name="WsHttpAddOnServiceEndpoint">
                <security mode="None" />
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://addon-service.curse.com/AddOnService.svc/binary"
                binding="customBinding" bindingConfiguration="BinaryHttpAddOnServiceEndpoint"
                contract="AddOnService.IAddOnService" name="BinaryHttpAddOnServiceEndpoint" />
            <endpoint address="https://addon-service.curse.com/AddOnService.svc/binary"
                binding="customBinding" bindingConfiguration="BinaryHttpsAddOnServiceEndpoint"
                contract="AddOnService.IAddOnService" name="BinaryHttpsAddOnServiceEndpoint" />
            <endpoint address="http://addon-service.curse.com/AddOnService.svc/soap12"
                binding="wsHttpBinding" bindingConfiguration="WsHttpAddOnServiceEndpoint"
                contract="AddOnService.IAddOnService" name="WsHttpAddOnServiceEndpoint" />
            <endpoint address="http://clientservice-v6-beta.curse.com/ClientLoginService.svc/Binary"
                binding="customBinding" bindingConfiguration="BinaryHttpClientLoginServiceEndpoint"
                contract="LoginService.IClientLoginService" name="BinaryHttpClientLoginServiceEndpoint" />
            <endpoint address="https://clientservice-v6-beta.curse.com/ClientLoginService.svc/Binary"
                binding="customBinding" bindingConfiguration="BinaryHttpsClientLoginServiceEndpoint"
                contract="LoginService.IClientLoginService" name="BinaryHttpsClientLoginServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>